@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* IMPOSTAZIONI GENERALI */

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-image: url("../img/sfondo.png");
  background-position: center;
}

body,
header,
main,
footer,
aside {
  padding: 2.5rem 1.5rem;
  background-color: white;
}

header,
.content,
footer {
  box-shadow: 2px 2px 10px rgb(0 0 0 / 20%);
}

header,
.content {
  margin-bottom: 1.5rem;
}

p,
ul,
ol,
h4 {
  margin-bottom: 2rem;
}

p,
li,
h2 {
  font-size: 1.1rem;
  line-height: 1.8rem;
}

ul,
ol {
  padding-left: 2rem;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

a {
  color: #009ec9;
  font-weight: 600;
}

h3 {
  font-size: 1.2rem;
  letter-spacing: -1px;
  margin-bottom: 0.5rem;
}

h4 {
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 500;
  text-align: center;
}

/* HEADER */

header {
  background-image: linear-gradient(10deg, rgba(0, 110, 136, 1) 47%, rgba(0, 162, 197, 1) 100%);
}

.logo {
  text-align: center;
  margin-bottom: 1.5rem;
}

.logo img {
  width: 250px;
  margin-bottom: 1.5rem;
}

.logo span {
  display: inline-block;
}

.logo span,
.main-menu a {
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  font-size: 1rem;
}

.main-menu {
  text-align: center;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0px;
}

.main-menu a {
  text-decoration: none;
}

.main-menu li {
  padding-block: 0.1rem;
}

/* MAIN */

h1 {
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: -3px;
  line-height: 3rem;
  margin-bottom: 2rem;
}

/* ELEMENTI NEL MAIN - ARTICLE */

.post-details {
  color: #9ba59e;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.tags {
  background-color: #e7dee0ce;
  border: 1.2px solid grey;
  border-radius: 5px;
}

.highlighted {
  color: #aa2072;
  font-weight: 600;
}

/* TABELLE */

table caption {
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: -1px;
  padding-bottom: 0.2rem;
}

table {
  border-bottom: 2px solid #4267bf;
  margin-bottom: 2rem;
}

th,
td {
  padding: 1.5rem;
  text-align: center;
}

th {
  color: white;
  background-color: #4267bf;
  vertical-align: bottom;
}

table th:nth-child(2) {
  border-inline: 1px solid white;
}

table tr:nth-child(even) td {
  background-color: #efefef;
  border-block: 1px solid rgb(209, 208, 208);
}

iframe {
  width: 100%;
  border-radius: 20px;
}

/* FORM */

form {
  width: 100%;
  vertical-align: middle;
}

button {
  width: 28%;
  padding: 0.3rem;
}

input,
button {
  border: none;
}

input {
  width: 70%;
  border-bottom: 1px dashed grey;
  padding: 0.7rem 0.5rem 0.5rem 0.5rem;
}

input::placeholder {
  font-size: 1.1rem;
}

button {
  background-color: #4267bf;
  font-weight: 500;
  font-size: 1.1em;
  color: white;
}

/* ELEMENTI NELL' ASIDE */

.sidebar {
  padding-top: 0;
}

.newsletter,
.related {
  background-color: #e8e2e4;
  padding: 1.5rem;
}

.related {
  border: 1.5px solid #bfbfbf;
  margin-bottom: 1.8rem;
}

.related:last-child {
  margin-bottom: 0;
}

.newsletter {
  margin-bottom: 2rem;
}

.related p {
  margin-bottom: 0;
}

.related p:nth-child(2) {
  margin-bottom: 1.2rem;
}

.related p:last-child {
  text-align: right;
}

.post-category a {
  text-decoration: none;
  font-weight: 400;
  color: black;
}

.post-date {
  font-size: 0.9rem;
}

/* FOOTER */

footer {
  color: white;
  text-align: center;
  background-image: linear-gradient(360deg, #343f37 30%, #005566 100%);
}

footer p {
  line-height: 1.2rem;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

footer p:last-child {
  margin-bottom: 0;
}

footer a {
  color: #fe01fe;
}
